#state-factoids {
  display: none;
}

#frack-map-wrapper {
  position: relative;
}

#frack-overlay {
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 1em;
  width: 230px;
  height: 282px;
  background: rgba(255,255,255,0.85);
  z-index: 100;
}

#frack-overlay.active {
  display: block;
}

.frack-overlay--close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-weight: bold;
}

.frack-overlay--content {
  height: 100%;
  overflow: scroll;
}

#frack-map {
  z-index: 50;
}

/***
 * Stuff that can be edited.
 **/

#map-title{
	width: 690px;
	font-size: 1em;
  	margin: .1em 0 .1em;
}

#map-title h1{
	color: #a82328;
	margin: .33em 0;
}

#map-title p{
	margin-top: 0em;
}

.factoid--title {
	color: #a82328;
  margin-top: 0;
}

.factoid--icons {
  display: flex;
  justify-content: center;
}

.factoid--icons img {
  height: 40px;
  margin: 0 12px;
}